body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f9a825 
}

.container {
    display: flex;
}

.sidebar {
    width: 25%;
    background-color: #000000; 
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    border-right: 5px solid #f9a825 ;
}

.avatar {
    border: 4px solid #f9a825; 
    border-radius: 50%; 
    padding: 0px; 
    display: inline-block;
    margin: 20px; 
}

.avatar img {
    width: 150px;
    height: 160px;
    border-radius: 60%;
    display: block; 
    
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.nav-button {
    text-decoration: none;
    background-color: transparent; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    color: #f9a825; 
    border: 2px solid #f9a825; 
    display: block; 
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #f0f0f0; 
    color: #f9a825; 
}

.content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left; 
    font-size: 20px; 
    background-color: #f0f0f0
}

h1 {
    margin-top: 0;
    margin-top: 0;
    color: #f9a825;
}

p {
    color: #000000;
    font-size: 18px;
    line-height: 1.6;
    border-left: 4px solid #f9a825;
    padding-left: 10px;
    margin-bottom: 20px;
}

ol {
    list-style-type: lower-alpha;
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 20px;
}

ol li {
    color: #000000;
    font-size: 18px;
    line-height: 1.6;
    border-left: 4px solid #f9a825;
    padding-left: 10px;
    margin-bottom: 10px;
}

ol li::marker {
    color: #000000;
    font-weight: bold;
}
ol li span.formacao {
    font-style: italic;
    color: #666666;
}

.redes-sociais {
    margin-top: 20px;
    text-align: left; 
}

.redes-sociais a {
    margin-right: 10px;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
}
